{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mx-auto px-8 md:px-12 font-jaka">
	<!-- Header -->
	<header class="py-2 mb-8 rounded-3xl px-8">
		<div class="flex flex-nowrap justify-between items-center">
			<div class="pt-1">
				<a class="blog-header-logo text-gray-900 no-underline" href="/"
					>FastLink Blog</a
				>
			</div>
			<div class="flex justify-end items-center gap-2">
				<a
					class="px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600"
					href="#"
					>Login</a
				>
				<a
					class="px-4 py-2 border border-gray-400 text-gray-700 text-sm rounded hover:bg-gray-100"
					href="#"
					>Register</a
				>
			</div>
		</div>
	</header>

	<!-- Navigation -->
	<div class="py-1 mb-16">
		<nav class="flex justify-between overflow-x-auto">
			{% for category in categories %}
			<h4>
				<a
					class="p-2 text-gray-600 hover:text-gray-900 whitespace-nowrap"
					href="{% url 'post_by_category' pk=category.id %}"
					>{{ category }}
				</a>
			</h4>
			{% endfor %}
		</nav>
	</div>

	<!-- Featured Post -->
	{% for post in featured_posts %} {% if forloop.last %}
	<div
		class="px-8 py-16 md:p-12 text-white rounded bg-gray-700 mb-4 min-h-[70vh]"
		style="
    background-image: url('{{ post.featured_image.url }}');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: top;
  ">
		<div class="md:w-2/3 px-0">
			<h1 class="text-4xl font-serif italic mb-3">{{ post.title }}</h1>
			<p class="text-lg my-3">{{ post.blog_body|truncatewords:80 }}</p>
			<p class="text-lg mb-0 mt-5">
				<a
					href="{% url 'post_by_category' category_id=post.category.id %}"
					class="text-white font-bold hover:underline border px-4 py-2 rounded-lg border-white"
					>Continue reading...</a
				>
			</p>
		</div>
	</div>
	{% endif %} {% endfor %}

	<!-- Featured Posts -->
	<h3 class="text-4xl text-blue-700 font-bold mb-4 mt-16">
		Category - {{category}}
	</h3>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
		{% if posts %} {% for post in posts %}
		<div class="bg-white p-8 rounded">
			<h3 class="text-2xl font-bold mb-2 text-blue-500 font-sora">
				{{ post.title }}
			</h3>
			<small class="text-gray-600 mb-1"
				>{{ post.updated_at| timesince }} | {{ post.author | capfirst }}</small
			>
			<p class="mt-2 text-gray-700">{{ post.blog_body|truncatechars:80 }}</p>
		</div>
		{% endfor %} {% else %}
		<p>No Post Found</p>
		{% endif %}
	</div>

	{% endblock %}
</div>
